.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	min-width: 1000px;
	font: 12px/1.5 arial;
}
li,a{
	cursor: pointer;
}
a:hover{
	color: rgb(241, 1, 128);
}
i#gift{
	position: relative; 
	top: 3px; 
	right: 3px;
}
i#app{
	position: relative;
	display: inline-block;
	top: 2px;
	right: 3px;
	width: 11px;
	height: 14px;
	background: url(../img/sprites-hash-12f29af9.png) no-repeat -293px -141px;
}
i#more{
	display: inline-block;
	margin-left: 3px;
	border-color: #999 transparent transparent transparent;
	border-style: solid dashed dotted dashed;
}
i#divide{
	position: absolute;
	right: 96px;
	color: gray;
}
.top_nav{
	height: 28px;
	background-color: #f5f5f5;
}
.top_nav .container{
	/*border: 1px solid #000;*/
	position: relative;
	width: 1000px;
	height: 28px;
	margin: 0 auto;
}
.container .top_left{
	position: absolute;
	height: 28px;
	top: 0;
	left: 13px;
}
.container .top_right{
	box-sizing: border-box;
	display: inline;
	position: absolute;
	height: 28px;
	width: 771px;
	top: 0;
	right: 0;
}
ul.top_rightTool{
	position: absolute;
	right: 0;
}
ul.top_rightTool::after{
	content: '';
	display: block;
	clear: both;
}
.top_rightTool li{
	/*display: inline-block;*/
	box-sizing: border-box;
	float: left;
	height: 28px;
	line-height: 26px;
	padding: 0 18px;
	cursor: pointer;
	z-index: 2;
	/*border: 1px solid #000;*/
}
.top_rightTool li:hover{
	background: rgb(255, 255, 255);
   	border: 1px solid;
   	border-color: rgb(205, 205, 205) rgb(205, 205, 205) transparent rgb(205, 205, 205);
}
.top_rightTool li::before{
	content: '|';
	display: block;
	color: #ccc;
	float: left;
	width: 16px;
	height: 16px;
	/*margin-top: 3px;*/
	margin-left: -20px;
	/*background: url(../img/sprites-hash-12f29af9.png) no-repeat -246px -182px;*/
}
.top_rightTool li:nth-of-type(1)::before{
	display: none;
}
ul.top_rightTool li#login{
	position: relative;
}
ul.top_rightTool li#login:hover .loginTips{
	display: block;
}
li#login .loginTips{
	position: absolute;
	background: #fff;
	top: 100%;
	left: -1px;    /*这里用-1是因为父级的li多了1px的边框，所以强行拉回对齐*/
	width: 282px;
	height: 177px;
	padding: 10px 0;
	box-sizing: border-box;
	border: 1px solid;
	border-color: transparent #ccc #ccc #ccc; 
	display: none;
	z-index: 1;
}
.loginTips .loginTips_top{
	position: relative;
	width: 280px;
	height: 53px;
	padding: 10px 5px 0 15px;
	box-sizing: border-box;
}
.loginTips .loginTips_top span{
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: url(../img/sprites-hash-12f29af9.png) no-repeat -162px -140px;
}
.loginTips .loginTips_top p{
	position: absolute;
	width: 175px;
	height: 32px;
	line-height: 32px;
	right: 10%;
	border-bottom: 1px solid #ccc;
}
.loginTips .loginTips_bottom{
	width: 248px;
	height: 105px;
	margin-left: 25px;
	margin-top: 5px;
}
.loginTips .loginTips_bottom span{
	display: inline-block;
	width: 120px;
	height: 30px;
}
li#login::after{
	display: none;
}

.top_nav span{
	display: inline-block;
	cursor: pointer;
}
span.province{
	height: 28px;
	line-height: 26px;
	padding-left: 15px;
	padding-right: 15px;
}
span.province::after{
	content: '';
	border-color: #999 transparent transparent transparent;
	border-style: solid dashed dotted dashed;
	display: inline-block;
	margin-left: 5px;
}
div.pro_select{
	background: #fff;
	display: none;
	position: absolute;
	top: 28px;
	left: 0;
	width: 502px;
	height: 288px;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid;
	border-color: transparent #ccc #ccc #ccc;
	z-index: 3;
	/*display: none;*/
} 
div.pro_select p{
	position: relative;
	width: 480px;
	height: 28px;
	line-height: 28px;
}
div.pro_select p span#close_this{
	position: absolute;
	top:4px;
	right: 0;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
div.pro_select ul::after{
	content: '';
	display: block;
	clear: both;
}
div.pro_select ul li{
	background-color: #f8f8f8;
	display: block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
	float: left;
	text-align: center;
	border: 1px solid;
	border-color: #ccc #ccc transparent #ccc; 
	z-index: 2;
}
div.pro_select ul li.chosen{
	background: #fff;
	border:1px solid;
	border-color: #f10180 #ccc transparent #ccc;
}
.chosen::before{
	content: '';
	display: block;
	width: 70px;
	height: 2px;
	background: #f10180;
}

div.pro_select .pro_city{
	margin-top: -1px;
	width: 480px;
	height: 207px;
	border: 1px solid;
	border-color: #ccc transparent transparent transparent;
}	
.aside_nav{
	position: fixed;
	top: 0;
	right: 0;
	width: 36px;
	height: 100%;
	background: #262626;
	z-index: 5;
}
.aside_nav_container{
	position: relative;
	width: 36px;
	height: 100%;
}
.aside_nav ul.top{
	position: absolute;
	top: 40%;
	margin-top: -167px;
	
}
.aside_nav ul.top li{
	position: relative;
}
.aside_nav ul.top li:hover{
	background: #df147f;
}
ul.top #account i{
	display: block;
	width: 36px;
	height: 36px;
	margin: 7px auto;
	background: url(../img/sprite-hash-681109b5.png) no-repeat 0 -131px;
}
ul.top #shopping_bag{
	border: 1px solid #000;
	background: #df147f;
}
ul.top #shopping_bag i:nth-of-type(1){
	display: block;
	width: 24px;
	height: 24px;
	margin-top: 18px;
	margin-left: auto;
	margin-right: auto;
	background: url(../img/sprite-hash-681109b5.png) no-repeat -85px -135px;

}
ul.top #shopping_bag i:nth-of-type(2){
	display: block;
	margin-bottom: 18px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: url(../img/sprite-hash-681109b5.png) no-repeat -21px -199px;

}
ul.top #shopping_bag p{
	margin: 6px auto;
	width: 14px;
	font-size: 14px;
	color: white;
}
ul.top #ticket i{
	display: block;
	width: 36px;
	height: 24px;
	margin: 18px auto;
	background: url(../img/sprite-hash-681109b5.png) no-repeat -160px -43px;
}
ul.top #brand i{
	display: block;
	width: 36px;
	height: 24px;
	margin: 18px auto;
	background: url(../img/sprite-hash-681109b5.png) no-repeat -79px 0;
}
ul.top #items i{
	display: block;
	width: 36px;
	height: 24px;
	margin: 18px auto;
	background: url(../img/sprite-hash-681109b5.png) no-repeat -119px 0;
}
ul.top #footprint i{
	display: block;
	width: 36px;
	height: 24px;
	margin: 18px auto;
	background: url(../img/sprite-hash-681109b5.png) no-repeat -160px 0;
}
ul.top li>span{
	position: absolute;
	display: none;
	height: 100%;
	line-height: 20px;
	width: 117px;
	background: #fff;
	border: 1px solid #cecece;
	box-shadow: -5px 1px 8px rgba(0,0,0,.15);
	right: 100%;
	top: 0;
	text-align: center;
	transform-origin: top right;
}
ul.top li:nth-of-type(1)>span{
	width: 275px;
	height: 306px;
}
ul.top li>span.pop{
	display: block;
	animation: pop 0.2s linear forwards;
}
@keyframes pop{
	0%{transform: scale(0);}
	100%{transform: translate(1);}
}

ul.bottom{
	position: absolute;
	bottom: 0;
}
ul.bottom #survey i{
	display: block;
	width: 36px;
	height: 36px;
	margin: 10px auto;
	background: url(../img/sprite-hash-681109b5.png) no-repeat -119px -92px
}
ul.bottom #returnTop i{
	display: block;
	width: 36px;
	height: 36px;
	margin: 10px auto;
	background: url(../img/sprite-hash-681109b5.png) no-repeat -79px -91px
}

header{
	/*border: 1px solid #000;*/
	height: 100px;
}
a{
	text-decoration: none;
	color: #000;
}
.inner_header{
	/*border: 1px solid #000;*/
	position: relative;
	height: 100px;
	width: 1000px;
	margin: 0 auto;
}
.inner_header a{
	display: inline-block;
}
a.logo{
	width: 160px;
	height: 100px;
}
a.vip1,a.vip2,a.vip3{
	width: 110px;
	height: 100px;
	margin-left: -3px;
	/*border: 1px solid #000;*/
}
a.vip1{
	background: url(../img/sprites-hash-12f29af9.png) no-repeat 6px 0;
}
a.vip2{
	background: url(../img/sprites-hash-12f29af9.png) no-repeat -98px 0;
}
a.vip3{
	background: url(../img/sprites-hash-12f29af9.png) no-repeat -202px 0;
}
.searchbox {
	position: relative;
	border: 1px solid #000;
	width: 389px;
	height: 34px;
	display: inline;
	float: right;
	margin-top: 33px;
	margin-right: 110px;
	border-color: rgb(250, 42, 131);
	border-right: none;
}
.searchbox #search_content{
	display: inline-block;
	margin: 0 14px;
	width: 313px;
	height: 32px;
	border: 1px solid #000;
	border-color: rgb(255,255,255);
}
.searchbox a{
	position: absolute;
	display:inline-block;
	right: 0;
	width: 42px;
	height: 34px;
	vertical-align: top;
	background-color: rgb(250, 42, 131); 
	/*box-sizing: border-box;*/
}
.shopping_Bag{
	background: #f6f7f9;
	position: absolute;
	display: inline;
	border: 1px solid #ccc;
	width: 94px;
	height: 32px;
	line-height: 32px;
	right: 0;
	top: 50%;
	margin-top: -16px;
	cursor: pointer;
}
.shopping_Bag #bag{		
	margin-left: 5px;
	float: left;
	width: 20px;
	height: 20px;
	margin-top: 5px;
	background: url(../img/sprites-hash-12f29af9.png) no-repeat -110px -206px;
}
.shopping_Bag #bagTxt{
	/*border: 1px solid #000;*/
	/*vertical-align: top;*/
	margin-left: 2px;
}
.shopping_Bag #bagNum{
	background: rgb(240, 5, 129);text-align: center;
	color: #FFFFFF;
	display: inline-block;
	width: 24px;
	height: 16px;
	line-height: 16px;
	border-radius: 8px;
	border: 1px solid #f00581;
}
#btn_search {
	/*border: 1px solid #000;*/
	display: inline-block;
	position: absolute;
	width: 26px;
	height: 26px;
	margin: 2px 6px;
	background: url(../img/sprites-hash-12f29af9.png) no-repeat -68px -206px;
}


.main_nav{
	height: 40px;
	background-color: #f10180;
}
.main_nav a{
	color: white;
}
.main_nav .inner_nav{
	/*border: 1px solid #000;*/
	position: relative;
	margin: 0 auto;
	width: 1000px;
	height: 40px;
}
.inner_nav ul{
	/*position: relative;*/
	/*border:1px solid #000;*/
	height: 40px;
	line-height: 40px;
	width: 1000px;
	font-size: 16px;
	color: white;
}
.inner_nav ul::after{
	content: '';
	display: block;
	clear: both;
}
.inner_nav ul li{
	float: left;
	width: 60px;
	height: 40px;
	/*margin-top: -2px;*/
	text-align: center;
	cursor: pointer;
	/*vertical-align: middle;*/
}

.inner_nav ul li:hover{
	background-color: rgb(219, 10, 118);
}
.inner_nav ul>li:nth-of-type(12){
	position: absolute;
	box-sizing: border-box;
	width: 86px;
	height: 40px;
	top: 0;
	right: 84px;
}
.inner_nav ul>li:nth-of-type(12) img,.inner_nav ul>li:nth-of-type(13) img{
	vertical-align: top;
	padding-right: 3px;
	padding-top: 3px;
}
.inner_nav ul>li:nth-of-type(13){
	position: absolute;
	width: 86px;
	height: 40px;
	top: 0;
	right: 0;
}

section{
	width: 100%;
}

.left_guideTool{
	width: 70px;
	height: 440px;
	padding: 0 7px;
	border: 1px solid #ccc;
	display: none;
}
.left_guideTool li{
	height: 20px;
	padding: 8px 10px;
	border-bottom: 1px solid #ccc;
}
.left_guideTool li a{
	width: 100%;
	height: 100%;
}
.left_guideTool li a .icon{
	margin-right: 2px;
}
.left_guideTool li.active{
	background: rgb(241, 1, 128)
}
.left_guideTool li.active a{
	color: #fff;
}
.slide_box{
	/*border: 1px solid #000;*/
	height: 398px;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 30px;
	background: url(../img/15335497200882.jpg) no-repeat center center;
	/*background-attachment: 100% 100%;*/
}

.inner_slide_box{
    background: rgba(255,255,255,.86);
	padding: 12px;
	padding-bottom: 0px;
	width: 974px;
	height: 390px;
    box-shadow: 0 1px 3px rgba(167,167,167,.4);
	margin: 0 auto;
}
.inner_slide_img{
	position: relative;
	width: 974px;
	height: 344px;
	overflow: hidden;
}
.inner_slide_img ul{
	width: 9999px;
}
.inner_slide_img ul li{
	float: left;
	cursor: pointer;
}
.inner_slide_img #toLeft{
	background: rgba(0,0,0,.2);
    border-radius: 2px;
    position: absolute;
    width: 33px;
    height: 66px;
    line-height: 66px;
    font-size: 24px;
    cursor: pointer;
    top: 50%;
   	left: -33px;
    margin-top: -33px;
    /*z-index: 2;*/
    text-align: center;
    display: block;
}
.inner_slide_img #toRight{
	background: rgba(0,0,0,.2);
    border-radius: 2px;
    position: absolute;
    width: 33px;
    height: 66px;
    line-height: 66px;
    font-size: 24px;
    cursor: pointer;
    right: 33px;
    top: 50%;
    margin-top: -33px;
    /*z-index: 2;*/
    text-align: center;
    display: block;
}
.inner_slide_tab{
	width: 974px; 
	height: 40px;
}
.inner_slide_tab ul li{
	float: left;
	/*border: 1px solid #000;*/
	width: 192px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	transition: all 1s; 
}
.current{
	border-bottom: 2px solid red;
}
.inner_slide_tab ul li::after{
	content: '';
	display: block;
	position: relative;
	height: 10px;
	width: 1px;
	background: black;
	float: left;
	top: 50%;
	margin-top: -5px;
	background: lightgray;
	
}
.inner_slide_tab ul>li:nth-of-type(1)::after{
	display: none;
}

.content_rmv{
	width: 1000px;
	margin: 0 auto;

}
.content_rmv_inner{
	width: 1000px;
	height: 300px;
}
.content_rmv_inner img{
	float: left;
	vertical-align: top;
	margin-top: 15px;
	margin-left: 15px;
}
.content_rmv_inner img:nth-of-type(1){
	margin-left: 0;
}
.content_rmv_inner img:nth-of-type(2){
	margin-left: 8px;
}
.content_rmv_inner img:nth-of-type(6){
	margin-top: 24px;
}

.content_new{
/*	border: 1px solid #000;*/
	width: 1000px;
	height: 715px;
	margin: 40px auto;
}
.content_new_top{
	position: relative;
	width: 100%;
	margin-bottom: 5px;
}
.content_new_top img{
	margin-left: 21.6%;
	margin-bottom: 25px;
}
.content_new_top #seckill{
/*	border: 1px solid #000;*/
	height: 28;
	line-height: 28px;
	font-size: 20px;
}
#seckill span{
	display: inline-block;
	/*border: 1px solid #000;*/
	vertical-align: top;
	margin-right: 5px;
	width: 28px;
	height: 28px;
	background: url(../img/sec_icon.png) no-repeat;
}
.content_new_top ul.content_new_sideBar{
	position: absolute;
	bottom: 0;
	right: 0;
}
ul.content_new_sideBar li{
	float: left;
	display: block;
	width: 48px;
	height: 18px;
	line-height: 18px;
	font-size: 16px;
	margin: 0 2px;
	text-align: center;
}
ul.content_new_sideBar li:hover{
	background: #f10180;
	border-radius: 10px;
	color: #fff;
}
ul.content_new_sideBar li::before{
	content: '|';
	display: block;
	float: left;
	margin-left: -5px;
	color: #ccc;
}
ul.content_new_sideBar li:nth-of-type(1)::before{
	display: none;
}
.content_new_bottom{
	width: 1000px;
	height: 580px;
	border-top: 1px solid #ccc;
}
.content_new_bottom>a{
	display: block;
	width: 276px;
	height: 580px;
	float: left;
}
.content_new_bottom_innerSide{
	width: 724px;
	height: 580px;
	box-sizing: border-box;
	float: right;
}
.content_new_bottom_innerSide ul{
	margin-left: -4px;
}
.content_new_bottom_innerSide li{
	float: left;
	display: block;
	width: 181px;
	height: 289px;
	text-align: center;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.content_new_bottom_innerSide li>a{
	display: block;
	width: 132px;
	height: 167px;
	margin: 0 auto;
	margin-top: 20px;
}
.content_new_bottom_innerSide li:nth-of-type(8) a{
	width: 132px;
	height: 289px;
	margin-top: 0;
	background: url(../img/more.png) no-repeat top center;
}
.content_new_bottom_innerSide li p{
	width: 132px;
	height: 36px;
	line-height: 18px;
	margin: 10px auto;
	font-size: 14px;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -o-text-overflow: ellipsis; //兼容性写法
    text-overflow: ellipsis; //超出用...
    overflow: hidden; 
    -webkit-line-clamp: 2; //限制行数
}
.content_new_bottom_innerSide #seckillPrice{
	position: relative;
	width: 132px;
	height: 30px;
	line-height: 30px;
	margin: 15px auto;
	color: #f10180;
	font-size: 12px;
	text-align: left;
}
#seckillPrice span{
	display: inline-block;
}
#seckillPrice span.seckill_icon{
	margin-left: 10px;
	margin-right: -3px;	
}
#seckillPrice span#seckill_price{
	font-size: 16px;
	margin-right: 10px;
}
#seckillPrice span#original_price{
	color: #ccc;
	margin-left: -3px;
	text-decoration: line-through;
}
.content_special_inner{
	width: 1000px;
	margin: 0 auto;
}

.content_special_inner ul li{
	position: relative;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}
.content_special_inner ul::after{
	content: '';
	display: block;
	clear: both;
}
.content_special_hover{
	position: absolute;
	top: 20px;
	left: 20px;
	width: 450px;
	height: 260px;
	background: #fff;
	text-align: center;
	opacity: 0;
}
.content_special_hover a{
	display: block;
	width: 121px;
	height: 153px;
	margin: 15px 10px;
	float: left;
}
.content_special_hover a:nth-of-type(1){
	margin-left: 25px;
}
.content_special_hover a>img,p{
	width: 100%;
}
.content_special_hover .primary{
	text-align: left;
	margin-top: 5px;
}
.content_special_hover .primary img{
	width: 100px;
	height: 50px;
	vertical-align: middle;
	margin-left: 25px;
	margin-right: 20px;
}
.content_special_hover .primary i{
	font-size: 16px;
	font-style: normal;
}
.content_special_hover .primary span:nth-of-type(1){
	display: inline-block;
	/*width: 85px;*/
	border: 1px solid #ccc;
	padding: 0 6px;
	border-radius: 10px;
}
.content_special_hover .primary span:nth-of-type(2){
	display:inline-block;
	color: rgb(51, 51, 51);
	border: 1px solid rgb(51, 51, 51);
	width: 117px;
	padding: 2px 0;
	margin-left: 92px;
	text-align: center;
}
.content_special_hover .primary span:nth-of-type(1):hover{
	background: rgb(241, 5, 130);
	border-color: rgb(241, 5, 130);
	color: #fff;
}
.content_special_inner ul li:hover>a>img{
	opacity: 0.5;
	transition: all 0.2s;
}
.content_special_inner ul li:hover .content_special_hover{
	opacity: 1;
	transition: all 0.5s;
}
.content_special_inner ul li:nth-of-type(2n){
	margin-right: 0;
}

.content_femaleBrand{
	width: 1000px;
	margin: 50px auto;
}
.content_femaleBrand::after{
	content: '';
	display: block;
	clear: both;
}
.content_femaleBrand h1{
	position: relative;
	height: 44px;
	margin: 10px auto;
	font-size: 14px;
}
.content_femaleBrand h1 a{
	position: absolute;
	display: block;
	bottom: 0;
	right: 0;
	color: rgb(241, 1, 128);
}
.content_femaleBrand h1 a>i{
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	text-align: center;
	border: 1px solid rgb(241, 1, 128);
	border-radius: 50%;
	margin: 0 5px;
}
.content_femaleBrand ul li{
	position: relative;
	float: left;
	display: block;
	width: 490px;
	height: 275px;
	margin-right: 20px;
	margin-bottom: 20px;
	background: lightblue;
	overflow: hidden;
}
.content_femaleBrand ul li:nth-of-type(2n){
	margin-right: 0;
}
.content_femaleBrand ul li a>img{
	width: 490px;
	height: 235px;
}
.content_femaleBrand ul li a>span{
	height: 40px;
	line-height: 40px;
	font-weight: bold; 
	color: rgb(241, 5, 130); 
	font-size: 24px;
	margin: 0 5px 0 10px;
}
.content_femaleBrand ul li a{
	position: relative;
	display: block;
	width: 490px;
}
.content_femaleBrand ul li a:nth-of-type(1) p{
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	padding: 5px 0 5px 25px;
	bottom: 2px;
	color: #fff;
}
.content_femaleBrand ul li a:nth-of-type(1) p::before{
	position: absolute;
	content: '';
	display: block;
	width: 8px;
	height: 9px;
	background: url(../img/index_imgs-hash-1724ef6c.png);
	left: 10px;
	top: 50%;
	margin-top: -5px;
}
.content_femaleBrand ul li a:nth-of-type(2){
	background: #fff;
}
.content_femaleBrand ul li a:nth-of-type(2) p{
	position: absolute;
	font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; //文字不换行
	width: 230px;
	height: 40px;
	line-height: 48px;
	left: 20%;
	top: 0;
}
.content_femaleBrand ul li a:nth-of-type(2) p.brand_time{
	left: 86%;
}
.content_femaleBrand ul li a:nth-of-type(2) p.brand_time>i{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 3px;
	vertical-align: middle;
	background: url(../img/index_imgs-hash-1724ef6c.png) no-repeat -50px 0;
}
/*底部*/
footer{
	height: 480px;width: 100%;position: relative;border: 1px solid white;background: white;
}

.pictures{
	margin-top: 24px;
text-align: center;
}
#service{
	height: 166px;margin-top: 35px;
	
}
.service{
	height: 166px;width:920px;
	margin: 0 auto;
}

.service a:hover{
	display: block;
	font-weight: bolder;
	color: #ee2c8f;
	cursor: pointer;
}
dl{float: left;height: 151px;width: 150px;border-left: 1px solid #e0e0e0;font-size: 12px;}
.dl6{text-align: center;}
dt{margin-left: 14px;margin-bottom: 10px;}
dd{margin-left: 14px;line-height: 20px;}

.message{height: 30px;width: 1000px;background-color: #e02887;margin: 20px auto;}
.ulmsg{height: 27px;width: 680px;list-style: none;font-size: 12px;margin: 0 auto;}
.ulmsg li{float: left;height: 18px;width:auto;border-left: 1px solid white;margin-top: 5px;}
.ulmsg li a{color: white;cursor: pointer; text-decoration: none;}
.ulmsg li a:hover{color: gray;}
.ulmsg li.li1{border: none;}
.copyright p span .a1{color: #999999;}
.a1,.a2:hover{cursor: pointer;color: #ee2c8f;}
.copyright{text-align: center;}
.copyright p{color: #999999;font-size: 10px;}
.other a:hover{cursor: pointer;color: #ee2c8f;}
.lastpic{height: 42px;width: 1000px;margin: 0 auto;}
.lastpic ul li{list-style: none;float: left;margin-left: 8px;}
.lastpic ul .lia{background: url(../img/footer-hash-3de6f1ae.png) no-repeat 0 0 ;height: 40px;width: 106px;}
.lastpic ul .lib{background: url(../img/footer-hash-3de6f1ae.png) no-repeat 0 -149px ;height: 40px;width: 100px;}
.lastpic ul .lic{background: url(../img/footer-hash-3de6f1ae.png) no-repeat 0 -199px ;height: 40px;width: 106px;}
.lastpic ul .lid{background: url(../img/footer-hash-3de6f1ae.png) no-repeat 0 -250px ;height: 40px;width: 67px;}
.lastpic ul .lie{background: url(../img/footer-hash-3de6f1ae.png) no-repeat 0 -301px ;height: 40px;width: 73px;}
.lastpic ul .lif{background: url(../img/footer-hash-3de6f1ae.png) no-repeat 0 -398px ;height: 34px;width: 76px;}
.lastpic ul .lig{background: url(../img/footer-hash-3de6f1ae.png) no-repeat 0 -448px ;height: 40px;width:75px;}
.lastpic ul{height: 42px;width: 750px;margin-left: 141px;}